body {
    background-color: #BDBDBD;
}

.square {
    align-items: center;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    height: auto;
    background-color: #E0E0E0;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo {
    max-width: 40%;
    height: auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.square input {
    width: 50%;
    padding: 3%;
    border: 3px solid #ffffff;
    border-radius: 5px;
    background-color: #F5F5F5;
    margin-top: 10px;
}

.login-button {
    background-color: #000;
    color: #fff;
    width: 58%;
    padding: 4%;
    border: 0px solid #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}

.text-already-account {
    display: flex;
    align-items: center;
    cursor: default;
    color: #616161;
    font-size: 14px;

    @media (max-width: 600px) {
        font-size: 12px;
    }
}

.blue-text-link {
    color: #2196F3;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

.google-logo {
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    @media (max-width: 600px) {
        max-width: 150px;
    }
}

.separator-text {
    font-size: 14px;
    color: #616161;
    margin-top: 20px;
}

.forgot-password {
    font-size: 14px;
    color: #616161;
    margin-top: 10px;
    align-self: flex-end;
    margin-right: 22%;
    cursor: pointer;
    @media (max-width: 600px) {
        font-size: 10px;
    }
}

.error {
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
    @media (max-width: 600px) {
        font-size: 8px;
    }
}

.error-message {
    color: red;
    font-size: 16px;
    @media (max-width: 600px) {
        font-size: 10px;
    }
}

.success-message {
    color: rgb(46, 163, 0);
    font-size: 16px;
    @media (max-width: 600px) {
        font-size: 9px;
    }
}
