.email-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0vh;
    position: absolute;
}

.email-input {
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.email-input input {
    border: none;
    outline: none;
    width: 100%;
}