.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.logo-splash {
    width: 30%;
    height: auto;
    opacity: 0;
    animation: fadeIn 2s ease-in-out infinite alternate;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}